<style>
    body {
        /*display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;*/
        width: 100%;
        height: 100%;
        background-image: url('@Url.Content("~/images/bg.png")');
        background-size:cover;
    }
    .body-content {
        height: calc( 100% - var(--dou-menu-height) ) !important;
        /*width: 100%;*/
    }
    .home-container {
        height: 100% !important;
        padding: 10vh 5vw;
        justify-content:center;
    }
    .home-container > .wlink{
        padding:1.75vw;
        max-width:calc( 400px + 6rem);
        min-height:300px;
    }
     .home-container > .wlink > .c{
         height:100%;
         width:100%;
         padding:1rem;
         display:flex;
         flex-direction:column;
         justify-content:center;
         border-radius:.4rem;
     }
     .home-container > .wlink .btn{
        border:2px white solid;
     }
     .home-container > .wlink a{
         display:inline-block;
         width:100%;
         color:white;
         font-weight:bold;
         text-decoration:none;
         text-justify:inter-word;
         font-size:2rem;
         text-shadow:1px 1px 5px black,-1px -1px 5px black;
     }
    .home-container > .link1 > .c{
        background-color:rgba(200, 194, 140, .5);
    }
    .home-container > .wlink .img-c {
        background-size: cover;
        background-origin:content-box;
        background-position:center;
        background-size:contain;
        background-repeat:no-repeat;
        width: 100%;
        height: calc( 100% - 40px);
    }
    .home-container > .link1  .img-c {
        background-image: url('@Url.Content("~/images/災情儀表板.png")');
        
    }
    .home-container > .link2 > .c{
        background-color:rgba(200, 110, 126, .5);
    }
    .home-container > .link2 .img-c{
        background-image: url('@Url.Content("~/images/決策支援圖台.png")');
    }
    .home-container > .link3> .c{
        background-color:rgba(35, 76, 121,.5);
    }
    .home-container > .link3 .img-c{
        background-image: url('@Url.Content("~/images/物資倉儲管理.png")');
    }
    @@media (max-width: 576px) {
        .home-container{
            padding:0;
            margin:0;
        }
        .home-container > .wlink{
            padding:.5rem;
        }
        .home-container > .wlink a {
            font-size: 1.2rem;
        }

        .body-content {
            height: auto !important;
        }
    }
</style>
<div class="home-container container-fluid row">
    <div class="col-sm-4 link1 wlink"><div class="c"><div class="img-c"></div><div class="btn btn-outline-info "><a href="@(Url.Action("Index", "DDashboard"))" class="text-justify">災情儀錶板</a></div></div></div>
    <div class="col-sm-4 link2 wlink"><div class="c"><div class="img-c"></div><div class="btn btn-outline-success"><a href="@(Url.Action("Index", "RtHydro"))">決策支援圖台</a></div></div></div>
    <div class="col-sm-4 link3 wlink"><div class="c"><div class="img-c"></div><div class="btn btn-outline-secondary"><a href="https://newemis.epa.gov.tw/Home/Login" target="_mss">物資倉儲管理</a></div></div></div>
</div>

