<script src="~/Scripts/prj/webshow/conunitperson.js?v=20240605001"></script>
@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<style>
    /*.bootstrap-table .fixed-table-container .fixed-table-body .dou-field-strExpertises {
        white-space: break-spaces;

        .bootstrap-table .fixed-table-container .fixed-table-body table tbody tr td {

        .bootstrap-table .fixed-table-container .fixed-table-body table thead [data-field="EMail"] {
            width: 10%;
        }
    }*/

   /* .bootstrap-table thead th {
        width: 10%;
    }*/

    .bootstrap-table thead .dou-field-ConUnit {
        width: 10%;
    }

    .bootstrap-table thead .dou-field-ConType {
        width: 6%;
    }

    .bootstrap-table thead .dou-field-Name {
        width: 6%;
    }

    .bootstrap-table thead .dou-field-Position {
        width: 10%;
    }

    .bootstrap-table thead .dou-field-Tel {
        width: 15%;
    }

    .bootstrap-table thead .dou-field-Mobile {
        width: 10%;
    }

    .bootstrap-table thead .dou-field-HTel {
        width: 9%;
    }

    .bootstrap-table thead .dou-field-EMail {
        width: 18%;
    }

    .bootstrap-table thead .dou-field-Remark {
        width: 10%;
    }

    .bootstrap-table thead .dou-field-PSort {
        width: 6%;
    }

    .bootstrap-table thead .dou-field-StrConfirmDate {
        width: 10%;
    }

    .bootstrap-table tbody tr td {        
        word-break: break-all;
    }

    /*.bootstrap-table .fixed-table-container .fixed-table-body table thead th {
        word-break: break-all
    }*/

</style>

<table id="_table"></table>

<script>
    //其它單位只能檢視
    var LoginConUnitName = '@ViewBag.LoginConUnitName';
    var IsOthersView = '@ViewBag.IsOthersView'.toLowerCase() == 'true';
    var IsOrgStaff = '@ViewBag.IsOrgStaff'.toLowerCase() == 'true';
    var LoginIsManager = '@ViewBag.LoginIsManager'.toLowerCase() == 'true';
    var LoginConUnit = '@ViewBag.LoginConUnit';
</script>